{% extends "base.html" %}

{% block page_title %}
{{meeting.name}}
{% endblock page_title %}

{% block navbar %}
{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}{% endblock navbar %}

{% block contents %}
<h4>
    <a class="btn btn-primary" href="{% url "employee:indexMeeting" %}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to Meeting List</a> <br>
</h4>
<br>
<h2>{{meeting.name}} - {{meeting.category}}</h2>
<br>

<div class="media border rounded" style="padding:20px">
    <img src="" class="mr-3">
    <div class="media-body">
        <h5>Hosted by: {{meeting.created_by}}</h5>
        <hr>
        <p><b>Meeting Location: </b>{{meeting.room}}</p>
        <p><b>Description: </b>{{meeting.content}}</p>
        {% if meeting.attachment %}
        <p><a href="{{meeting.attachment.url}}">Download Attachment</a></p>
        {% endif %}
        <hr>
        <p><b>Created at: {{meeting.created_at}}</b></p>

    </div>
</div>


{% endblock contents %}