{% extends "base.html" %}

{% block page_title %}
{{task.title}}
{% endblock page_title %}

{% block navbar %}
{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}{% endblock navbar %}

{% block contents %}
<h4>

    {% if request.user.profile_user.position == "CEO" %}
    <a class="btn btn-primary" href="{% url "employee:indexTask" %}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to Task List</a>
    {% else %}
    <a class="btn btn-primary" href="{% url "employee:userTask" %}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to Task List</a>
    {% endif %}

    <br>
</h4>
<br>
<h2>{{task.title}}</h2>
<br>

<div class="media border rounded" style="padding:20px">

    <div class="media-body">
        <p><b>Given By: </b>{{task.created_by}}</p>
        <p><b>For: </b>{{task.given_to}}</p>
        <hr>
        <p><b>Deadline: </b>{{task.deadline}}</p>
        <p><b>Description: </b>{{task.body}}</p>

        <div class="container">
            {% if subtask %}
            <p><b>Subtask: </b></p>
            <table class="table border">
                <thead class="thead-dark table-bordered">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>

                    {% if subtask %}
                </thead>
                <tbody>
                    {% for subtask in subtask %}
                    <tr>
                        <td>{{subtask.title}}</td>
                        <td>{{subtask.description}}</td>

                        {% if task.deadline < today_date %}
                        <td class="text-danger">Late</td>
                        {% else %}
                        {% if subtask.finished == True %}
                        <td class="text-success">Finished</td>
                        {% else %}
                        <td class="text-danger">Not Finished</td>
                        {% endif %}
                        {% endif %}



                        <td>
                            {% if task.deadline < today_date %}
                            <span class="text-danger">DEADLINE MISSED</span>
                            {% else %}
                            {% if subtask.finished == True %}

                            {% if request.user.profile_user.position == "CEO"  %}
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#exampleModalUndo{{subtask.id}}">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                                Undo
                            </button>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalUndo{{subtask.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to
                                                undo this subtask?
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">No</button>
                                            <a class="btn btn-danger btn-sm"
                                                href="{% url "employee:undoSubtask" subtask.id %}">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% else %}
                            {% if request.user.profile_user.position == "CEO" %}
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#exampleModalUndo{{subtask.id}}">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Finish
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalUndo{{subtask.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to
                                                finish this subtask?
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">No</button>
                                            <a class="btn btn-success"
                                                href="{% url "employee:finishSubtaskAdmin" subtask.id %}">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-warning btn-sm" href="{% url "employee:editSubtask" subtask.id %}">
                                Edit
                            </a>

                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModalDelete{{subtask.id}}">
                                Delete
                            </button>

                            {% else %}

                            {% ifequal task.status "On Progress" %}
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#exampleModalCenter{{subtask.id}}">
                                Finish
                            </button>
                            {% else %}
                            -
                            {% endifequal %}
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter{{subtask.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to
                                                finish
                                                <b>{{subtask.title}} </b>?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">No</button>
                                            <a class="btn btn-danger"
                                                href="{% url "employee:finishSubtask" subtask.id %}">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalDelete{{subtask.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to
                                                delete
                                                <b>{{subtask.title}} </b>?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">No</button>
                                            <a class="btn btn-danger"
                                                href="{% url "employee:deleteSubtask" subtask.id %}">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}



        </div>
        {% endif %}

        {% if reportFeedback %}
        <div class="media border border-danger rounded" style="padding:20px;">
            <img src="" class="mr-3">
            <div class="media-body">
                <p><b>Previous feedback:</b></p>
                <hr>
                {% for reportFeedback in  reportFeedback %}
                <p>{{reportFeedback.comments}}</p>

                {% if reportFeedback.attachment %}
                <p><a href="{{reportFeedback.attachment.url}}">Download Attachment</a></p>
                {% endif %}

                <p><b>Sent At:</b> {{reportFeedback.sent_at}}</p>
                <hr>
                {% endfor %}

            </div>
        </div>
        {% endif %}

        {% if task.attachment %}
        <p><a href="{{task.attachment.url}}">Download Attachment</a></p>
        {% endif %}

        <hr>
        <p><b>Created at: {{task.created_at}}</b></p>
    </div>
</div>

{% endblock contents %}