{% extends "base.html" %}

{% block page_title %}
Feedback List
{% endblock page_title %}

{% block navbar %}
{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}
{% endblock navbar %}

{% block contents %}
<h2>Feedback List</h2>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Given By</th>
            <th scope="col">Title</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedback %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{feedback.created_by.profile_user.first_name}} {{feedback.created_by.profile_user.last_name}}</td>
            <td><a href="{% url "employee:detailAppFeedback" feedback.id %}">{{feedback.title}}</a></td>
            <td>{{feedback.created_at.date}}</td>
            <td>

                {% if feedback.responded == False %}
                <a class="btn btn-primary btn-sm" href="{% url "employee:addAppFeedbackReply" feedback.id %}">Reply</a>
                {% else %}
                <button class="btn btn-warning btn-sm" disabled>Replied</button>
                {% endif %}



                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#exampleModalCenter{{feedback.id}}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter{{feedback.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to delete this
                                    feedback ?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger"
                                    href="{% url "employee:deleteAppFeedback" feedback.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    {% if feedback.has_previous %}
    <li class="page-item">
        <a href="?page={{feedback.previous_page_number}}" class="page-link">&laquo</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo</a>
    </li>
    {% endif %}

    {% for p in feedback.paginator.page_range %}
    {% if feedback.number == p %}
    <li class="page-item active">
        <a href="?page={{p}}" class="page-link">{{ p }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a href="?page={{p}}" class="page-link">{{ p }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if feedback.has_next %}
    <li class="page-item">
        <a href="?page={{meeting.next_page_number}}" class="page-link">&raquo</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo</a>
    </li>
    {% endif %}
</ul>
{% endblock contents %}