<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django PDF</title>
    <style>
        th,
        td {
            padding: 3px;
        }

        td {
            font-size: 10px;
        }

        /* Page margins are defined using CSS */
        @page {
            margin: 1cm;
            margin-top: 1cm;
            margin-bottom: 2.5cm;

            /* Footer frame starts outside margin-bottom of @page */
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 1cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 1cm;
                text-align: right;
            }
        }
    </style>
</head>

<body>
    <h1 style="text-align: left;font-size:40px;margin-bottom:-500px;">WORKEV</h1>
    <p style="text-align: right; margin-top:-65px;position:fixed;">Jalan Budi Raya No.21, Kebon
        Jeruk, Jakarta
        Barat 11530</p>

    <!-- {% if today.month == 1 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (JANUARY {{today.year}})</b></p>
    {% elif today.month == 2 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (FEBRUARY {{today.year}})</b></p>
    {% elif today.month == 3 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (MARCH {{today.year}})</b></p>
    {% elif today.month == 4 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (APRIL {{today.year}})</b></p>
    {% elif today.month == 5 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (MAY {{today.year}})</b></p>
    {% elif today.month == 6 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (JUNE {{today.year}})</b></p>
    {% elif today.month == 7 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (JULY {{today.year}})</b></p>
    {% elif today.month == 8 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (AUGUST {{today.year}})</b></p>
    {% elif today.month == 9 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (SEPTEMBER {{today.year}})</b></p>
    {% elif today.month == 10 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (OCTOBER {{today.year}})</b></p>
    {% elif today.month == 11 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (NOVEMBER {{today.year}})</b></p>
    {% elif today.month == 12 %}
    <p style="text-align: right;"><b>EMPLOYEE PERFORMANCE REPORT (DECEMBER {{today.year}})</b></p>
    {% endif %} -->

    <p style="text-align: right;"><b>MONTHLY REPORT (DECEMBER 2020)</b></p>



    <hr>

    <div style="background-color: lightgray;padding:5px;color:black;">
        <h2>EMPLOYEE INFORMATION</h2>
    </div>
    <table style="align-content:top;">
        <tr>
            <td>
                <p><b>Name:</b> {{profile.first_name}} {{profile.last_name}}</p>
                <p><b>Email:</b> {{profile.email}}</p>
                <p><b>Address:</b> {{profile.address}}</p>
            </td>
            <td>
                <p><b>Position:</b> {{profile.position}}</p>
                <p><b>Employee Since:</b> {{profile.employeeSince.date}}</p>
                <p><b>Last Data Update:</b> {{profile.lastDataUpdate.date}}</p>
            </td>
        </tr>
    </table>


    <div style="background-color: lightgray;padding:5px;color:black;">
        <h2>TASK</h2>
    </div>


    {% if alltask == 0 %}
    <h2 style="color: red;">No Task Available This Month</h2>
    {% else %}
    <table style="border-collapse: collapse;border-bottom:0.3px solid black;">
        <thead>
            <tr style="border-bottom:1.25px solid black">
                <td><b>Task Name</b></td>
                <td><b>Created At</b></td>
                <td><b>Deadline</b></td>
                <td><b>Status</b></td>
            </tr>
        </thead>

        <tbody>
            {% for task in task %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.created_at.date}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="text-align: right;font-size:10px;"><b>Total Task Accepted: </b>{{alltask}}</p>
    <p style="text-align: right;font-size:10px;"><b>Task On Progress: </b>{{onprogresstask}}</p>
    <p style="text-align: right;font-size:10px;"><b>Task Approved: </b>{{donetask}}</p>
    {% endif %}

    <div style="background-color: lightgray;margin:0;padding:5px;color:black;">
        <h2>MEETINGS</h2>
    </div>

    {% if meetingsqty == 0 %}
    <h2 style="color: red;">No Meetings Attended</h2>
    {% else %}
    <table style="border-collapse: collapse;border-bottom:0.3px solid black;">
        <thead>
            <tr style="border-bottom:1.25px solid black">
                <td><b>Meeting Name</b></td>
                <td><b>Room</b></td>
                <td><b>Date</b></td>
                <td><b>Status</b></td>
            </tr>
        </thead>

        <tbody>
            {% for meetings in meetings %}
            <tr>
                <td>{{meetings.name}}</td>
                <td>{{meetings.room}}</td>
                <td>{{meetings.meeting_date}}</td>

                {% if meetings.finished == True %}
                <td>Finished</td>
                {% else %}
                <td>Unfinished</td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="text-align: right;font-size:10px;"><b>Total Meeting Held: </b>{{allmeetings}}</p>
    <p style="text-align: right;font-size:10px;"><b>Finished Meeting: </b>{{finishedmeetings}}</p>
    <p style="text-align: right;font-size:10px;"><b>Unfinished Meeting: </b>{{unfinishedmeetings}}</p>
    {% endif %}

    <div id="footerContent" style="padding:5px;border-top:1px solid black;">
        <b>Workev Corporation | </b> Page <pdf:pagenumber>
    </div>

</body>

</html>