{%extends "base.html"%}

{% block page_title %}
Task Removal Confirmation
{% endblock page_title %}

{% block navbar %}
{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}{% endblock navbar %}

{% block contents %}
{% for task in task %}
<p>Are you sure want to remove <b>{{task.title}}</b> ?</p>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="confirmRemove">
    <a class="btn btn-danger" href="{% url "employee:indexTask" %}">Cancel</a>
</form>
{% endblock contents %}