{%extends "base.html"%}

{% block page_title %}
Feedback Removal Confirmation
{% endblock page_title %}

{% block navbar %}
{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}{% endblock navbar %}

{% block contents %}
{% for feedback in feedback %}
<p>Are you sure want to delete <b>{{feedback.title}}</b> created by <b>{{feedback.created_by}}</b> ?</p>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="confirmRemove">
    <a class="btn btn-danger" href="{% url "employee:indexAppFeedback" %}">Cancel</a>
</form>
{% endblock contents %}