{% extends "base.html" %}

{% block page_title %}
{{task.title}}
{% endblock page_title %}

{% block navbar %}
{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}{% endblock navbar %}

{% block contents %}
<a href="{% url "employee:userTask" %}" class="btn btn-primary">Back to My Task</a>
<br><br>
<h2>Feedback on: {{task.title}}</h2>

<br>

{% for feedback in feedback %}
<div class="media border rounded" style="padding:20px">
    <img src="" class="mr-3">
    <div class="media-body">
        <h5>Feedback by: {{feedback.created_by}}</h5>
        <hr>
        <p><b>Task: </b>{{feedback.report.task.title}}</p>
        <p><b>Description: </b>{{feedback.comments}}</p>
        {% if feedback.attachment %}
        <p><a href="{{feedback.attachment.url}}">Download Attachment</a></p>
        {% endif %}
        <hr>
        <p><b>Created at: {{feedback.sent_at}}</b></p>

    </div>
</div>
{% endfor %}
<br><br><br><br>


{% endblock contents %}