{% extends "base.html" %}

{% block page_title %}
Submit Task
{% endblock page_title %}

{% block navbar %}
{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}{% endblock navbar %}

{% block contents %}
<h2>Submit Task <b>{{task.title}}</b></h2>
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for form in form %}
    <div class="form-group">
        {{form.label}}
        {{form}}
    </div>
    {% endfor %}


    {% if checkSubtask <= 0 %}
    <button class="btn btn-primary" type="submit">Submit</button>
    {% else %}
    <p><b>You have <span class="text-danger">{{checkSubtask}} unfinished subtask!</span> </b> </p>
    <button class="btn btn-primary" disabled type="submit">Submit</button>

    {% endif %}

</form>

{% endblock contents %}