<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "snippets/styles.html"%}

    <title>
        {% block page_title %}

        {% endblock page_title %}
    </title>
</head>

<body>
    {% block navbar %}
    {% load static %}
    {% endblock navbar %}

    {% block jumbotron %}

    {% endblock jumbotron %}

    <div class="container" style="margin-top: 20px">
        {% include "snippets/messages.html"%}
        {% block contents %}

        {% endblock contents %}
    </div>

    {% block footer %}

    {% endblock footer %}

    {%include "snippets/scripts.html"%}
</body>

</html>