<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "snippets/styles.html"%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

    </style>
    <title>
        {% block page_title %}

        {% endblock page_title %}
    </title>
</head>

<body style="color:white;background-color:black;">
    {% block navbar %}
    {% load static %}
    {% endblock navbar %}

    {% block jumbotron %}

    {% endblock jumbotron %}

    <div class="container" style="margin-top: 20px">
        {% include "snippets/messages.html"%}
        {% block contents %}

        {% endblock contents %}
    </div>

    {% block footer %}

    {% endblock footer %}

    {%include "snippets/scripts.html"%}
</body>

</html>