{%extends "baseHome.html"%}

{% block page_title %}
Index Page
{% endblock page_title %}

{% block navbar %}
{%include "snippets/navbar_anonymous.html"%}
{% endblock navbar %}

{% block contents %}
<div style="margin-top:150px; align-content:center;text-align:center;">
    <img src="https://www.pastepic.xyz/images/2020/05/15/WorkevLogo61b9336dd6b4712e.png"
        alt="WorkevLogo61b9336dd6b4712e.png" border="0" height="100px" width="300px" />
    <h2><b style="color:orange;">Work</b> more. Worry less, <b style="color:orange;">Ev</b>erywhere</h2>
    <h1 style="text-align:center;margin-top:150px;">Working in the office is so 1990</h1>
    <h2 style="text-align:center;">WorkEv make you work like in 2050</h2>
    <br>
    <span>We bring you to the future, so you no longer need to waste your money & time</span>
    <br>
    <span>on transporation & traffic jams, <b style="color:orange;">everyday</b> for your <b style="color:orange;">whole
            career</b> </span>
    <br>
    <span>An average Jakarta citizen spent <b style="color:orange;">584 hours</b> on <b style="color:orange;">traffic
            jam</b> each year.</span>
    <br>
    <span>That will be <b style="color:orange;">over 3 wasted years</b> in <b style="color:orange;">50 years</b>
        !</span>
    <br><br>
    <span>Just wonder how wonderful it is to have an <b style="color:orange;">extra 3 years</b> in your life.</span>
    <img src="https://www.pastepic.xyz/images/2020/05/17/1c96841cf28d40f88.png" alt="1" border="0" width="1000px">
    <br><br><br><br>
    <h2>Luckily, we give your 3 precious years back</h2>

    <div class="d-flex justify-content-around">
        <img src="https://www.pastepic.xyz/images/2020/05/17/2215ff097c8754770.png" alt="1" border="0" width="400px"
            height="400px">
        <div><br><br><br><br><br>
            <span>Farewell to all the traffic jams & transportion cost.</span>
            <br>
            <span>Now <b style="color:orange;">your home is your office</b></span>
            <br>
            <span>Spend your time with your family, because now you can</span>
            <br>
            <span>Now you can have 3 extra birthday parties :)</span>
            <br>
            <span>All thanks to WorkEv, as your</span>
            <br>
            <span><b style="color:orange;">Employee Management System</b></span>
        </div>
    </div>

    <br><br><br><br>
    <h2>Your office in one screen, no more building</h2>
    <img src="https://www.pastepic.xyz/images/2020/05/17/3c2aba5c342b85856.png" alt="1" border="0" width="1000px">
    <br>
    <span>We know you love simplicity</span>
    <br>
    <span>So we design Workev with 100% simple and intuitive User Interface</span>
    <br>
    <span>Giving you the top notch User Experience possible in whole industry</span>
    <br><br><br><br>
    <img src="https://www.pastepic.xyz/images/2020/05/17/7b1a440496e13b6ed.png" alt="7b1a440496e13b6ed.png" border="0"
        width="200px" />
    <br><br><br><br>
    <h2>One for all, and all in Workev</h2>
    <br>
    <span>You don't really need another third party apps to manage your business.</span>
    <br>
    <span>because WorkEv works like magic.</span>
    <br>
    <span>All things managed just in a few clicks.</span>
    <br><br>
    <span>No effort needed, because we have done the magic for you</span>
    <img src="https://www.pastepic.xyz/images/2020/05/17/586991bdeaec8bf1a.png" alt="1" border="0" width="1000px">
    <br><br><br><br>
    <h2>Swiss Army of features, get them all</h2>
    <br>
    <span>Manage Employee, Attendance, Meetings, Task, Paid Leave & Salary</span>
    <br>
    <span><b style="color:orange;">And additional features such as:</b></span>
    <span>Discussion Forum, User Feedback Form, and many more</span>
    <img src="https://www.pastepic.xyz/images/2020/05/17/66d57ac304650ba31.png" alt="1" border="0" width="800px">
    <br>
    <span>WorkEv is the swiss army knife for industries,</span>
    <span>suitable for <b style="color:orange;">startups</b> until the <b style="color:orange;">big corporate
            companies</b></span>
    <br><br><br><br>
    <h2>No need to worry about price,</h2>
    <h2>Subscribe on our affordable subscription plan</h2>
    <h2>and you're good to go</h2>
    <br>
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="card text-center mr-4"
                style="width: 18rem;background-color:black;border:1px solid orange;border-radius:25px;">
                <div class="card-body">
                    <h1 class="card-title">IDR</h1>
                    <h1 class="card-title">150K</h1>
                    <p class="card-text">1 month access</p>
                    <br>
                    <p class="card-text" style="color:orange;">Capacity:</p>
                    <p class="card-text">3 admin</p>
                    <p class="card-text">30 employee</p>
                    <a class="btn btn-outline-warning">Subscribe</a>

                </div>
            </div>
            <div class="card text-center mr-4"
                style="width: 18rem;background-color:black;border:1px solid orange;border-radius:25px;">
                <div class="card-body">
                    <h1 class="card-title">IDR</h1>
                    <h1 class="card-title">400K</h1>
                    <p class="card-text">3 month access</p>
                    <br>
                    <p class="card-text" style="color:orange;">Capacity:</p>
                    <p class="card-text">5 admin</p>
                    <p class="card-text">50 employee</p>
                    <a class="btn btn-outline-warning">Subscribe</a>
                </div>
            </div>
            <div class="card text-center mr-4"
                style="width: 18rem;background-color:black;border:1px solid orange;border-radius:25px;">
                <div class="card-body">
                    <h1 class="card-title">IDR</h1>
                    <h1 class="card-title">700K</h1>
                    <p class="card-text">6 month access</p>
                    <br>
                    <p class="card-text" style="color:orange;">Capacity:</p>
                    <p class="card-text">10 admin</p>
                    <p class="card-text">100 employee</p>
                    <a class="btn btn-outline-warning">Subscribe</a>

                </div>
            </div>
            <br>
            <div class="card text-center"
                style="width: 18rem;background-color:black;border:1px solid orange;border-radius:25px;">
                <div class="card-body">
                    <h1 class="card-title">IDR</h1>
                    <h1 class="card-title">1200K</h1>
                    <p class="card-text">unlimited access</p>
                    <br>
                    <p class="card-text" style="color:orange;">Capacity:</p>
                    <p class="card-text">20 admin</p>
                    <p class="card-text">200 employee</p>
                    <a class="btn btn-outline-warning">Subscribe</a>

                </div>
            </div>
        </div>
        <br><br>
        <h2>Subscribe now, and <b style="color:orange;">Work Ev</b>erywhere</h2>
        <br>
    </div>



    <br>
</div>

{% endblock contents %}

{% block footer %}
<footer class="page-footer font-small pt-1" style="background-color: rgb(27, 27, 27);">

    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright: WorkEv Corporation
    </div>

</footer>
{% endblock footer %}