{%extends "baseIndex.html"%}
{% load static %}

{% block page_title %}
Index Page
{% endblock page_title %}

{% block navbar %}

{% if navbar %}
{%include "snippets/navbar_hrd.html"%}
{%else%}
{%include "snippets/navbar_user.html"%}
{% endif %}

{% endblock navbar %}

{% block jumbotron %}
{% if request.user.profile_user.position == "CEO" %}
<div class="jumbotron jumbotron-fluid" style="margin-top:72px">
    <div class="container">
        <h3 style="text-align:center;">Welcome to the Employee Management System</h3>
        <h4 style="text-align:center">
            {{request.user.profile_user.first_name}}
            {{request.user.profile_user.last_name}}
        </h4>
    </div>
</div>
{% endif %}
{% endblock jumbotron %}


{% block contents %}
{% if request.user.profile_user.position != "CEO" %}
<div class="row" style="margin-top:80px;padding:15px;">
    <div class="col-sm-9 "
        style="padding:75px;border-top-left-radius:15px;border-bottom-left-radius:15px;background-color:#fff">
        <h4 style="text-align:left;">Welcome to the Employee Management System</h4>
        <h5 style="text-align:left;">
            {{request.user.profile_user.first_name}}
            {{request.user.profile_user.last_name}}
        </h5>
    </div>
    <div class="col-sm-3"
        style="padding:15px;border-top-right-radius:15px;border-bottom-right-radius:15px;background-color:#fff;">
        <h5><i class="fa fa-bookmark mr-2" aria-hidden="true"></i>
            Notification</h5>
        <hr>
        {% if notifQty == 0 %}
        <h5 class="text-danger">You have no Notification</h5>
        {% else %}
        {% for new_notification in new_notification|dictsortreversed:"created_at" %}
        <div class="accordion" id="accordionExample{{new_notification.id}}">
            <div class="card">
                <div class="card-header bg-white" id="headingOne{{new_notification.id}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#collapseOne{{new_notification.id}}" aria-expanded="true"
                            aria-controls="collapseOne">
                            <b>{{new_notification.title}}</b>
                            <span style="font-size: 14px;"> - {{new_notification.created_at.date}}</span>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne{{new_notification.id}}" class="collapse"
                    aria-labelledby="headingOne{{new_notification.id}}"
                    data-parent="#accordionExample{{new_notification.id}}">
                    <div class="card-body">
                        <p>{{new_notification.body|truncatechars:150}}</p>
                        <p><b>Posted by:</b> {{new_notificationings.created_by}} on {{new_notification.created_at}}</p>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#exampleModalLong{{new_notification.id}}">
                            Show Detail
                        </button>

                        <div class="modal fade" id="exampleModalLong{{new_notification.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{new_notification.title}}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Description: </b>{{new_notification.body}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
{% endif %}



{% if request.user.profile_user.position != "CEO" %}
<div class="row justify-content-between" style="padding:15px;margin-top:-25px;">
    <div class="col-sm-4 mt-4" style="padding:15px;border-radius:20px;background-color:#DEF1FF;">
        <h5><i class="fa fa-bookmark" aria-hidden="true"></i>
            New Task</h5>
        <hr>
        {% if newTaskQty == 0 %}
        <h5 class="text-danger">You have no task</h5>
        {% else %}
        {% for task in newTask|dictsortreversed:"created_at" %}
        <div class="media">
            <div class="media-body">
                <h5>{{task.title}}</h5>
                <div class="modal fade" id="exampleModalLong{{task.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    {{task.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{task.body}}
                                <br>
                                {% if task.attachment %}
                                <a href="{{task.attachment.url}}">Download Attachment</a>
                                {% else %}
                                <hr>
                                No Attachment
                                <hr>
                                <b>Created by: </b>{{task.created_by}} at {{task.created_at}}
                                {% endif %}


                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="{% url "employee:acceptTask" task.id %}">Accept
                                    Task</a>
                            </div>
                        </div>
                    </div>
                </div>

                <p><b>Posted by:</b> {{task.created_by}} on {{task.created_at}}</p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalLong{{task.id}}">
                    Show Detail
                </button>
            </div>
        </div>

        <hr>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-4 mt-4"
        style="padding:15px;background-color:#FFE7DB;border-radius:30px;border-right:15px solid #f1f1f1;border-left:15px solid #f1f1f1;">
        <h5><i class="fa fa-clock" aria-hidden="true"></i>
            Ongoing Task</h5>
        <hr>
        {% if taskOnProgressQty == 0 %}
        <h5 class="text-danger">You have no task</h5>
        {% else %}
        {% for task in taskOnProgress|dictsortreversed:"created_at" %}
        <div class="media">
            <div class="media-body">
                <h5>{{task.title}}</h5>
                <div class="modal fade" id="exampleModalLong{{task.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    {{task.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{task.body}}
                                <br>
                                {% if task.attachment %}
                                <a href="{{task.attachment.url}}">Download Attachment</a>
                                {% else %}
                                <hr>
                                No Attachment
                                <hr>
                                <b>Created by: </b>{{task.created_by}} at {{task.created_at}}
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>

                <p><b>Posted by:</b> {{task.created_by}} on {{task.created_at}}</p>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#exampleModalLong{{task.id}}">
                    Show Detail
                </button>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>
    <div class=" col-sm-4 mt-4" style="padding:15px;border-radius:15px;background-color:rgb(232, 253, 212);">
        <h5><i class="fa fa-check mr-2" aria-hidden="true"></i>Finished Task</h5>
        <hr>
        {% if taskFinishedQty == 0 %}
        <h5 class="text-danger">You have no task</h5>
        {% else %}
        {% for task in taskFinished|dictsortreversed:"created_at" %}
        <div class="media">
            <div class="media-body">
                <h5>{{task.title}}</h5>
                <div class="modal fade" id="exampleModalLong{{task.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    {{task.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{task.body}}
                                <hr>
                                {% if task.attachment %}
                                <a href="{{task.attachment.url}}">Download Attachment</a>
                                {% else %}
                                No Attachment
                                {% endif %}
                                <hr>
                                <b>Created by: </b>{{task.created_by}} at {{task.created_at}}
                            </div>
                        </div>
                    </div>
                </div>
                <p><b>Posted by:</b> {{task.created_by}} on {{task.created_at}}</p>
                <button type="button" class="btn btn-success" data-toggle="modal"
                    data-target="#exampleModalLong{{task.id}}">
                    Show Detail
                </button>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}




<div class="row justify-content-around" style="padding:15px;margin-top:-10px;">
    <div class="col-sm-6"
        style="padding:15px;border-radius:15px;background-color:#FEF7DA;border-right:15px solid #f1f1f1;border-top-right-radius:30px;border-bottom-right-radius:30px;">
        <h5><i class="fa fa-users mr-2" aria-hidden="true"></i>Your Meetings</h5>
        <hr>
        {% if meetings_qty == 0 %}
        <h5 class="text-danger">You have no meetings</h5>
        {% else %}
        {% for meetings in meetings|dictsortreversed:"created_at" %}

        <div class="accordion" id="accordionExample{{meetings.id}}">
            <div class="card border-none">
                <div class="card-header bg-white" id="headingOne{{meetings.id}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#collapseOne{{meetings.id}}" aria-expanded="true" aria-controls="collapseOne">
                            <b>{{meetings.name}} - {{meetings.type}}</b>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne{{meetings.id}}" class="collapse" aria-labelledby="headingOne{{meetings.id}}"
                    data-parent="#accordionExample{{meetings.id}}">
                    <div class="card-body">
                        <p>{{meetings.content|truncatechars:150}}</p>
                        <p><b>Posted by:</b> {{meetings.created_by}} on {{meetings.created_at}}</p>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#exampleModalLong{{meetings.id}}">
                            Show Detail
                        </button>

                        <div class="modal fade" id="exampleModalLong{{meetings.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{meetings.name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Meeting Date & Time:</b> {{meetings.meeting_date}} at
                                            {{meetings.meeting_time}}</p>
                                        <p><b>Description: </b>{{meetings.content}}</p>
                                        {% if meetings.attachment %}
                                        <a href="{{meetings.attachment.url}}">Download Attachment</a>
                                        {% else %}
                                        <hr>
                                        No Attachment
                                        <hr>
                                        <b>Created by: </b>{{meetings.created_by}} at {{meetings.created_at}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    <div class="col-sm-6" style="padding:15px;border-radius:15px;background-color:#F0DCFF;">
        <h5><i class="fa fa-comments mr-2" aria-hidden="true"></i>Your Recent Post</h5>
        <hr>
        {% if post_qty == 0 %}
        <h5 class="text-danger">You have no post</h5>
        {% else %}
        {% for post in recent_post|dictsortreversed:"created_at" %}
        <div class="accordion" id="accordionExample{{post.id}}">
            <div class="card">
                <div class="card-header bg-white" id="headingOne{{post.id}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#collapseOne{{post.id}}" aria-expanded="true" aria-controls="collapseOne">
                            <b>{{post.title}} - {{post.category}}</b>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne{{post.id}}" class="collapse" aria-labelledby="headingOne{{post.id}}"
                    data-parent="#accordionExample{{post.id}}">
                    <div class="card-body">
                        <p>{{post.body|truncatechars:150}}</p>
                        <p><b>Posted by:</b> {{post.created_by}} on {{post.created_at}}</p>
                        <a class="btn btn-outline-primary" href="{% url "discussion:detailUser" post.id %}">
                            Show Detail
                        </a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
{% if request.user.profile_user.position != "CEO" %}
<br><br><br><br>
{% else %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}


{% endblock contents %}

{% block footer %}

<footer class="page-footer font-small pt-1 bg-dark" style="margin-top:210px;">

    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright: WorkEv Corporation
    </div>

</footer>
<!-- Footer -->
{% endblock footer %}